<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MocK</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="menu">
      <h2>Rotas</h2>
      <button
        id="build-button"
        type="button"
        onclick="clearForm()"
        class="menu-new-button"
      >
        Nova rota
      </button>
      <ul
        id="menu-items"
        hx-get="http://localhost:3333/menu-items"
        hx-trigger="load"
        hx-swap="innerHTML"
      >
        <!-- Itens serão carregados dinamicamente -->
      </ul>
    </div>

    <div class="content">
      <div id="form-container" class="form-container">
        <form
          hx-post="http://localhost:3333/submit-form"
          hx-target="#menu-items"
          hx-swap="innerHTML"
        >
          <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-row">
            <div class="form-group form-control-quarter">
              <label for="type">Tipo:</label>
              <select id="type" name="type" class="form-control">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PATCH">PATCH</option>
                <option value="DELETE">DELETE</option>
              </select>
            </div>
            <div class="form-group form-control-quarter">
              <label for="code">Código:</label>
              <select id="code" name="code" class="form-control">
                <option value="200">200</option>
                <option value="201">201</option>
                <option value="400">400</option>
                <option value="401">401</option>
                <option value="403">403</option>
              </select>
            </div>
            <div class="form-group form-control-half">
              <label for="route">Rota:</label>
              <input type="text" id="route" name="route" required />
            </div>
          </div>
          <div class="form-group">
            <label for="response">Resposta:</label>
            <textarea id="response" name="response" required></textarea>
            <button class="beautify-btn" type="button" onclick="beautify()">
              Formatar
            </button>
          </div>
          <div class="form-group">
            <button id="build-button" type="submit">Build</button>
          </div>
        </form>
      </div>
    </div>

    <script src="beautify.js"></script>
    <script src="clearForm.js"></script>
  </body>
</html>
